.fullscreen-loading-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;

  &__spinner-container{
    color: #364FC7;
    margin: 0 auto;
    position: relative;
    text-align: center;
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &__spinner {
    height: 50px;
    width: 50px;
    color: #364FC7;
    margin: 0 auto;
  }

  &__spinner-circle{
    opacity: .25;
  }

  &_spinner-inner{
    opacity: 1;
  }
}
