$dashboard-sidebar-desktop-width--expanded: 280px;
$dashboard-sidebar-desktop-width--collapsed: 60px;
$dashboard-sidebar-phone-height--expanded: calc(100% - 120px);
$dashboard-sidebar-phone-height--collapsed: 60px;